/*
.footer a{
    color: #fff;
    text-decoration: none !important;
}
.footer a:hover{
    color: gray;
} */
.footer{
    background-color: rgb(61, 58, 58);
    color: white;
}
.style-row{
    margin-top: 10%;
}
.head-style{
    font-weight: 900;
}